{% extends "base.j2" %}

{% block main %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/legal.css') }}">

    <section class="content">
        <h1>Conditions Générales d'Utilisation</h1>
        <p>
            Bienvenue sur mygrowbox.fr. En utilisant ce site, vous acceptez de vous conformez aux présentes Conditions
            Générales d'utilisation (CGU). Nous vous invitons vivement à les lire attentivement et à renoncer à
            l'utilisation de ce site en cas de désaccord.
        </p>
        <h2>Accès au site</h2>
        <p>
            Le site est accessible gratuitement à toute personne disposant d'un accès à Internet. Cependant, l'inscription
            est réservée aux détenteurs d'une serre GrowBox. Nous nous réservons le droit de suspendre l'accès au site pour
            maintenance ou autres raisons.
        </p>
        <h2>Utilisation du site</h2>
        <p>
            Vous pouvez consulter les informations relatives à vos serres. Il est strictement interdit de tenter d'accéder
            aux informations relatives à d'autres utilisateurs ou d'autres serres. Toute tentative de piratage pourra donner
            lieu à une poursuite en justice.
        </p>
        <h2>Responsabilités</h2>
        <p>
            Nous ne sommes pas responsables des dysfonctionnements du site. Par ailleurs, toute modification du matériel ou
            du logiciel de votre serre Growbox vous rend entièrement responsables des éventuels problèmes rencontrés, en
            plus de mettre un terme à la garantie constructeur.
        </p>
        <h2>Propriété intellectuelle</h2>
        <p>
            GrowBox est une marque déposée. Il est interdit d'utiliser notre nom ou notre image sans autorisation.
        </p>
        <h2>Protection des données personnelles</h2>
        <p>
            Nous ne collectons pas de données permettant de vous identifier personnellement. Lors de l'inscription, nous
            vous invitons à saisir un nom d'utilisateur dont vous vous souviendrez facilement et à choisir un mot de passe
            unique et fort. Vous avez le droit d'accéder à vos données, mais la rectification et la suppression ne sont pas
            possibles. Nous ne respectons pas le Règlement Général de Protection des Données (RGPD)...
        </p>
        <h2>Modification des CGU</h2>
        <p>
            Nous pouvons modifier ces CGU à tout moment. Sauf oubli, les utilisateurs seront informés des modifications.
        </p>
        <h2>Engagement spécifique</h2>
        <p>
            Tout enseignant participant à la notation de notre projet s'engage à nous attribuer une note acceptable
            (supérieure ou égale à 18/20). Autrement, nous nous réservons le droit de noyer ses plantes pendant la nuit
            (entre 22h et 3h, heure française).
        </p>
        <br>
        <p>
            Pour toute question, veuillez contacter Hicham Boudjeroua à l'adresse <a
                href="mailto:hicham.boudjeroua@insa-lyon.fr">hicham.boudjeroua@insa-lyon.fr</a>
        </p>
    </section>

{% endblock %}
