{% extends "greenhouse_template.j2" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/charts.css') }}">
    {%  for id, (message, date) in notifications.items() %}
        <p>{{ message }} depuis le {{ date }}</p>
    {% endfor %}
{% endblock %}
