{% extends "../greenhouse_template.j2" %}

{% block content %}

    <h1>Overview page of greenhosue {{ greenhouse_name }}</h1>
    <h2>TODO: show graphs of all sensors & actuators</h2>

{% endblock %}
