{% extends "greenhouse_template.j2" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/charts.css') }}">

    <div class="heading">
        {% if date_latest %}
            {% if not date_selected_actions  %}
                <div class="title">
                    <h1>{{ current_actuator_full_name }}</h1>
                    <p>Aucune mesure pour cet actionneur sur cette plage de temps</p>
                </div>
            {% else %}
                <div class="title">
                    <h1>{{ current_actuator_full_name }}</h1>
                    <p>{{ date_selected_actions }} sur {{ total_actions_actuator }} actions pour cet actionneur, dernière mesure {{ date_latest }}</p>
                </div>
            {%  endif %}
            <div>
                <form action="{{ url_for('timestamp_manager') }}" method="POST" class="auto-submit">
                    <label for="start_date">Du</label>
                    <input type="date" id="from_date" name="start_date" data-value="{{ from_datetime_utc }}">
                    <label for="end_date">au</label>
                    <input type="date" id="to_date" name="end_date" data-value="{{ to_datetime_utc }}">
                    <input type="hidden" name="r" value="{{ url_for('greenhouse_actuator_page', greenhouse_serial=greenhouse_serial, actuator_id= actuator_id) }}">                </form>
            </div>

        {% else %}
            <div class="title">
                <p>Aucune mesure pour le capteur {{ current_actuator_full_name }}</p>
            </div>


        {% endif %}
    </div>
    <div class="graph-tiles">
        <div class="graph">
            <canvas id="chart1" class="chart" aria-label="Graphique des valeurs du capteur {{ sensor_type }}"
                    role="img"></canvas>
        </div>
    </div>
    <script>
        window.configureChart(
            'chart1',
            {{ actions.keys()|list|tojson }},
            {{ actions.values()|list|tojson }},
            [],
            {{ greenhouse_serial|tojson }},
            false,
            {{ actuator_type|tojson }},
            {{ actuator_id|tojson }},
            {{ from_datetime_utc|tojson }},
            {{ to_datetime_utc|tojson }}
        );
    </script>
{% endblock %}
