{% extends "greenhouse_template.j2" %}

{% block content %}

    <div class="heading">
        <div class="title">
            <h1>Tableau de bord</h1>
            <p>{{ number_mesures }} mesures</p>
        </div>
    </div>

    <div>

    </div>

{% endblock %}
