{% extends "greenhouse_template.j2" %}

{% block content %}
    {% set is_owner = session['user_name'] == owner %}
    {% set is_collaborator = session['user_name'] in collaborators %}
    <div class="heading">
        <div class="title">
            <h1>Contributeurs </h1>
            <p>
                {{ collaborators|length }} collaborateurs, {{ guests|length }} invités.
                Vous êtes {{ 'propriétaire' if is_owner else ('collaborateur' if is_collaborator else 'invité' )}}.
            </p>
        </div>
    </div>

    <div class="permissions-form">
        <h2>Propriétaire</h2>
        <ul>
            <li>
                {% if is_owner %}
                    <p>Vous êtes le propriétaire de la serre {{ greenhouse_serial }}.</p>
                {% else %}
                    <p>{{ owner }} est le propriétaire de la serre {{ greenhouse_serial }}. Seul {{ owner }} peut gérer
                        les
                        permissions.</p>
                {% endif %}
            </li>
        </ul>
        <h2>Collaborateurs</h2>
        <ul>
            {% if collaborators|length == 0 %}
                <li>
                    <p>Aucun collaborateur</p>
                </li>
            {% else %}
                {% for collaborator in collaborators %}
                    <li>
                        <p>{{ collaborator }}</p>
                        {% if is_owner %}
                            <form action="{{ url_for('permission_manager') }}" class="auto-submit" method="POST">
                                <input type="hidden" name="ghs" value="{{ greenhouse_serial }}">
                                <input type="hidden" name="user" value="{{ collaborator }}">
                                <select name="role" aria-label="Rôle de {{ collaborator }}">
                                    <option value="owner">Propriétaire</option>
                                    <option value="collaborator" selected>Collaborateur</option>
                                    <option value="guest">Invité</option>
                                </select>
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
        <h2>Invités</h2>
        <ul>
            {% if guests|length == 0 %}
                <li>
                    <p>Aucun invité</p>
                </li>
            {% else %}
                {% for guest in guests %}
                    <li>
                        <p>{{ guest }}</p>
                        {% if is_owner %}
                            <form action="{{ url_for('permission_manager') }}" class="auto-submit" method="POST">
                                <input type="hidden" name="ghs" value="{{ greenhouse_serial }}">
                                <input type="hidden" name="user" value="{{ guest }}">

                                <select name="role" aria-label="Rôle de {{ guest }}">
                                    <option value="owner">Propriétaire</option>
                                    <option value="collaborator">Collaborateur</option>
                                    <option value="guest" selected>Invité</option>
                                </select>
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>

{% endblock %}
