{% extends "greenhouse_template.j2" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/charts.css') }}">

    <div class="heading">
        {% if date_latest %}
            {% if not date_selected_measures  %}
                <div class="title">
                    <h1>{{ current_sensor_full_name }}</h1>
                    <p>Aucune mesure pour ce capteur sur cette plage de temps</p>
                </div>
            {% else %}
                <div class="title">
                    <h1>Tableau de bord de {{ greenhouse_serial }} </h1>
                    <p>{{ date_selected_measures }} sur {{ total_measures_sensor }} mesures pour ce capteur, dernière mesure {{ date_latest }}</p>
                </div>
            {%  endif %}
            <div>
                <form action="{{ url_for('timestamp_manager') }}" method="POST" class="auto-submit">
                    <label for="start_date">Du</label>
                    <input type="date" id="from_date" name="start_date" data-value="{{ from_datetime_utc }}">
                    <label for="end_date">au</label>
                    <input type="date" id="to_date" name="end_date" data-value="{{ to_datetime_utc }}">
                    <input type="hidden" name="r" value="{{ url_for('greenhouse_sensor_page', greenhouse_serial=greenhouse_serial, sensor_id=sensor_id) }}">
                </form>
            </div>

        {% else %}
            <div class="title">
                <p>Aucune mesure pour le capteur {{ current_sensor_full_name }}</p>
            </div>


        {% endif %}
    </div>

    <div class="graph-tiles">
        <div class="graph">
            <canvas id="chart1" class="chart" aria-label="Graphique des valeurs du capteur {{ sensor_type }}"
                    role="img"></canvas>
        </div>
    </div>
    <script>
        window.configureChart(
            'chart1',
            {{ measures.keys()|list|tojson }},
            {{ measures.values()|list|tojson }},
            {{ targets }},
            {{ greenhouse_serial|tojson }},
            true,
            {{ sensor_type|tojson }},
            {{ sensor_id|tojson }},
            {{ from_datetime_utc|tojson }},
            {{ to_datetime_utc|tojson }},
            {{ data_analysed_O2_night|tojson }},
            {{ data_analysed_O2_day|tojson }}
        );
    </script>
{% endblock %}
