{% extends "greenhouse_template.j2" %}

{% block content %}
    <h1>Mesures de la serre {{ greenhouse_name }}</h1>
    <h2>Liste des mesures pour le capteur {{ sensor_type }}</h2>
    <ul>
        {% for date, value in measures.items() %}
            <p> Le {{ date }}  valeur : {{ value}}
            </p>
        {% endfor %}
    </ul>
{% endblock %}
