{% extends "greenhouse_template.j2" %}

{% block content %}
    <div class="heading">
        <div class="title">
            <h1>Contributeurs </h1>
            <p>{{ collaborators|length }} collaborateurs, {{ guests|length }} invités.</p>
        </div>
    </div>

    {% set is_owner = session['user_name'] == owner %}
    <div class="permissions-form">
        <h2>Propriétaire</h2>
        <ul>
            <li>
                {% if is_owner %}
                    <p>Vous êtes le propriétaire de la serre {{ greenhouse_serial }}.</p>
                {% else %}
                    <p>{{ owner }} est le propriétaire de la serre {{ greenhouse_serial }}. Seul {{ owner }} peut gérer
                        les
                        permissions.</p>
                {% endif %}
            </li>
        </ul>
        <h2>Collaborateurs</h2>
        <ul>
            {% for collaborator in collaborators %}
                <li>
                    <p>{{ collaborator }}</p>
                    {% if is_owner %}
                        <form action="{{ url_for('permission_manager') }}" class="auto-submit" method="POST">
                            <input type="hidden" name="ghs" value="{{ greenhouse_serial }}">
                            <input type="hidden" name="user" value="{{ collaborator }}">
                            <label>
                                Role:
                                <select name="role">
                                    <option value="owner" {% if is_owner %} disabled {% endif %}>Propriétaire</option>
                                    <option value="collaborator" {% if is_owner %} disabled {% endif %} selected>
                                        Collaborateur
                                    </option>
                                    <option value="guest" {% if is_owner %} disabled {% endif %}>Invité</option>
                                </select>
                            </label>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <h2>Invités</h2>
        <ul>
            {% for guest in guests %}
                <li>
                    <p>{{ guest }}</p>
                    {% if is_owner %}
                        <form action="{{ url_for('permission_manager') }}" class="auto-submit" method="POST">
                            <input type="hidden" name="ghs" value="{{ greenhouse_serial }}">
                            <input type="hidden" name="user" value="{{ guest }}">
                            <label>
                                Role:
                                <select name="role">
                                    <option value="owner" {% if is_owner %} disabled {% endif %}>Propriétaire</option>
                                    <option value="collaborator" {% if is_owner %} disabled {% endif %}>Collaborateur
                                    </option>
                                    <option value="guest" {% if is_owner %} disabled {% endif %} selected>Invité
                                    </option>
                                </select>
                            </label>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
