{% extends "greenhouse_template.j2" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/charts.css') }}">

    <canvas id="barCanvas" aria-label="chart" role="img"></canvas>
    <script>

        window.configureChart(
            'barCanvas',
            {{ measures.keys()|list|tojson }},
            {{ measures.values()|list|tojson }},
            {{ target_measure }},
            {{ greenhouse_serial|tojson }},
            true,
            {{ sensor_type|tojson }},
            {{ sensor_id|tojson }});
    </script>
{% endblock %}
