{% extends "base.j2" %}

{% block main %}
    <h1>GrowBox Landing Page</h1>
    {% if session['user_name'] %}
        <p>Bonjour {{ session['user_name'] }}.</p>
    {% else %}
        <p>Bonjour invité, authentifie-toi.</p>
    {% endif %}
{% endblock %}
