{% extends "single_template.j2" %}

{% block page_title %}Connexion{% endblock %}
{% block title %}Connexion avec votre compte GrowBox{% endblock %}

{% block content %}
    <form action="{{ url_for('login_manager') }}" method="POST">

        <label for="user_name">Nom d'utilisateur</label>
        <input type="text" name="user_name" id="user_name" value="{{ session.get('form_user_name', '') }}" required>
        <br>
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password" required>
        <br>
        <input type="submit" value="Se Connecter">
    </form>
{% endblock %}
