{% extends "base.j2" %}

{% block main %}
    <h1>Page de connexion</h1>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    <form action="{{ url_for('login_page') }}" method="POST">
        <p>
            <label for="nom">Nom : </label>
            <input type="text" name="user_name" id="user_name" required>
        </p>
        <p>
            <label for="mdp">Mot de passe : </label>
            <input type="password" name="password" id="password" required>
        </p>
        <p>
            <input type="submit" value="Envoyer">
        </p>
    </form>
{% endblock %}
