{% extends "greenhouse_template.j2" %}

{% block content %}
    <h1>Plage temporelle des données</h1>
    <form action="{{ url_for('timestamp_manager') }}" method="POST">
        <label for="start_date">Date de début :</label>
        <input type="date" id="start_date" name="start_date">

        <label for="end_date">Date de fin :</label>
        <input type="date" id="end_date" name="end_date">

        <input type="submit" value="Envoyer">
    </form>

{% endblock %}