main .graph-tiles {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    margin: 10px;
    gap: 5px;
    flex-grow: 1;
}
main .graph-tiles div.graph {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    min-width: 0;
    min-height: 250px;
    max-height: min(525px, calc(100vh - 180px));
}
main .graph-tiles.overview div.graph {
    height: 250px;
}

@media (min-width: 1000px) {
    main .graph-tiles div.graph {
        flex-basis: 40%;
    }
}
@media (min-width: 1500px) {
    main .graph-tiles div.graph {
        flex-basis: 26%;
    }
}
main .graph-tiles div.graph #barCanvas {
    width: 100%;
    height: 100%;
    min-width: 0;
}
