footer {
    flex: 0 0 100px;
    padding: 20px;
    background-color: var(--dirt-color);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
footer > div {
    flex-basis: 33%;
}
footer a {
    text-decoration: none;
    color: hsl(72, 100%, 13%);
}
footer a:hover {
    text-decoration: underline;
}


/* LINKS */

footer .links {

}

footer .links p {
    display: block;
    text-align: right;
}

/* AUTHORS */

footer .authors {
    display: flex;
    justify-content: center;
}
footer .authors > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .authors > div > p {
    display: block;
    font-size: 0.9em;
}
footer .authors > div > p:first-child {
    font-weight: 600;
    font-size: 1.1em;
}
footer .authors > div > .authors-list {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
footer .authors > div > .authors-list p {
    display: block;
}

/* IMAGE */

footer .image {

}
footer .image > div {
    width: fit-content;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
footer .image > div > p {
    text-align: center;
    margin-top: 15px;
}

footer img {
    /*     make color to be green */
    filter: invert(0.3);
    max-height: 38px;
}

/* MEDIA */

@media (max-width: 980px) {
    footer {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 30px;
    }
    footer > div {
        flex-basis: 100%;
    }
    footer .links p {
        text-align: center;
    }
    footer .image > div > p {
        margin-top: 5px;
    }
}
