main > section.content {
    display: block;
    margin: 20px auto;
    max-width: 600px;
}
main h1 {
    text-align: center;
    font-size: 1.8em;
    font-weight: 600;
    margin: 20px 0;
    color: #123d01;
}

main h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 20px 0 5px 0;
    color: #123d01;
}
main p {
    text-align: justify;
}
