/* CSS SETUP */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;

    --text-color: #1e1e23;

    --dirt-color: #C6B090;
    --leaf-color: #B2DA1E;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: var(--text-color)
}

html, body {
    background-color: var(--light-color);
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
body * {
    box-sizing: border-box;
}

/* MAIN */
main {
    flex: 1 0;
}

/* TITLE SECTION */

main > section.title {
    display: block;
    margin: 30px auto;
}
main > section.title h1{
    text-align: center;
    font-size: 1.8em;
    font-weight: 600;
}

/* ALERTS */

main > div.message {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%) translateY(-300%);
    max-width: 90vw;
    width: 500px;
    padding: 10px;

    border-radius: 10px;
    backdrop-filter: blur(6px);

    animation: 5s error;
}

main > div.message.error {
    background-color: hsla(0, 100%, 95%, 0.8);
    border: 2px solid hsla(0, 100%, 20%, 0.2);
}
main > div.message.success {
    background-color: hsla(120, 100%, 95%, 0.8);
    border: 2px solid hsla(120, 100%, 20%, 0.2);
}

main > div.message p {
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: center;
    font-weight: 600;
}
main > div.message > p + p {
    font-weight: 300;
}

@keyframes error {
    5% {
        transform: translateX(-50%) translateY(0);
    }
    95% {
        transform: translateX(-50%) translateY(0);
    }
}
