/* CSS SETUP */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;

    --text-color: #1e1e23;

    --dirt-color: #C6B090;
    --leaf-color: #B2DA1E;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: var(--text-color)
}

html, body {
    background-color: var(--light-color);
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
body * {
    box-sizing: border-box;
}

/* MAIN */
main {
    flex: 1 0;
    padding-bottom: 20px;
}

/* TITLE SECTION */

main > section.title {
    display: block;
    margin: 30px auto;
}
main > section.title h1 {
    text-align: center;
    font-size: 1.8em;
    font-weight: 600;
}

/* ALERTS */

main > div.message {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%) translateY(-300%);
    max-width: 90vw;
    width: 500px;
    padding: 10px;

    border-radius: 10px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    animation: 5s error;
}

main > div.message.error {
    background-color: hsla(0, 100%, 95%, 0.8);
    border: 2px solid hsla(0, 100%, 20%, 0.2);
}
main > div.message.success {
    background-color: hsla(120, 100%, 95%, 0.8);
    border: 2px solid hsla(120, 100%, 20%, 0.2);
}

main > div.message p {
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: center;
    font-weight: 600;
}
main > div.message > p + p {
    font-weight: 300;
}

@keyframes error {
    5% {
        transform: translateX(-50%) translateY(0);
    }
    95% {
        transform: translateX(-50%) translateY(0);
    }
}

/* TILES */

section.greenhouses-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    margin: 30px auto;
    max-width: 90vw;
    width: 100%;
}
section.greenhouses-tiles a {
    padding: 20px;
    min-width: 300px;

    color: inherit;
    text-decoration: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;

    text-align: center;
}

section.greenhouses-tiles a:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

section.greenhouses-tiles h2 {
    font-size: 1.3em;
}
section.greenhouses-tiles p {
    font-size: .9em;
    font-weight: 300;
    font-family: monospace;
}

/* OVERLAY */

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 10;
}
#overlay:not(.active) {
    display: none;
}
