#plantForm {
    margin: 0 auto;
    padding: 5px;
    max-width: 600px;
}
#plantForm h2 {
    margin: 15px 0 5px 0;
    font-size: 1.2em;
}

#plantForm ul {
    list-style-type: none;
    padding: 0;
}

/* LIST OF PLANTS */

#plantForm button.button-pm {
    padding: 0 10px;
}
#plantForm button.button-rm {
    margin-left: 15px;
}


#plantForm .association {
    background-color: white;
    border-radius: 10px;
    margin: 5px 0;
    padding: 10px;
}
#plantForm .association .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
#plantForm .association .controls p {
    font-size: 1.1em;
    font-weight: 600;
    line-height: 34px;
}
#plantForm .association .controls p span:first-child {
    font-size: 1.1em;
    color: #28a745;
    font-style: italic;
}
#plantForm .association .controls p span:first-child span {
    font-size: 1.2em;
}
#plantForm .association .controls p span:last-child {
    font-size: .85em;
}
#plantForm input[type="number"] {
    width: 75px;
}
#plantForm .association .config p {
    font-size: .75em;
}

/* ADD PLANT */

#plantForm > input {
    display: block;
    margin: 20px auto;
    padding: 0 12px;
    height: 38px;
    background-color: hsl(73, 76%, 90%);
    border: 2px solid hsl(73, 76%, 60%);
}

#plantForm .add-plant-inputs {
    display: flex;
    gap: 5px;
}
#plantForm .add-plant-inputs > div > * {
    display: block;
    margin-bottom: 5px;
}
#plantForm .add-plant-inputs > div:first-child {
    flex-grow: 1;
}
#plantForm .add-plant-inputs > div:first-child > input {
    width: 100%;
}

#plantForm ul#plant-results {
    list-style-type: none;
    padding: 0 5px;
    margin: 2px;
    max-height: 320px;
    overflow-y: auto;
    border-radius: 5px;
    outline: 2px solid #ccc;
}
#plantForm ul#plant-results li {
    background-color: white;
    border-radius: 10px;
    margin: 5px 0;
    padding: 10px;
}
#plantForm ul#plant-results li:hover {
    background-color: hsl(73, 76%, 90%);
    border-radius: 10px;
    margin: 5px 0;
    padding: 10px;
}

#plantForm ul#plant-results .config p {
    font-size: .75em;
}
