
nav#sidebar {
    background-color: hsla(36, 70%, 85%, 0.3);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-right: 1px solid hsl(36, 32%, 67%);
    width: 200px;
    height: 100%;
}
nav#sidebar img{
    display: none;
}
nav#sidebar.to-init {
    display: none;
}
nav#sidebar.overlayed {
    position: fixed;
    left: -200px;
    top: 0;
    height: 100vh;
    z-index: 100;

    transform: translateX(0);
    transition: transform 0.3s;
}
nav#sidebar.overlayed img{
    display: block;
    height: 20px;
    margin: 20px auto;
    filter: invert(.20);
}
nav#sidebar.overlayed.active {
    transform: translateX(100%);
}


nav#sidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav#sidebar ul li {
    display: block;
    margin: 0;
    padding: 0;
}
nav#sidebar ul li.current {
    background-color: hsla(36, 70%, 50%, 0.25);
}
nav#sidebar ul li > * {
    display: block;
    padding: 10px;

}
nav#sidebar ul li.title > * {
    font-weight: 600;
}
nav#sidebar ul li.indented > * {
    padding-left: 30px;
}
nav#sidebar ul li a {
    text-decoration: none;
    color: inherit;
}
nav#sidebar ul li a:hover {
    background-color: hsla(36, 70%, 50%, 0.25);
}
