#navbar {
    display: flex;
    justify-content: space-between; /* Ajout de cette ligne */
    align-items: center;
    padding: 10px;
    background-color: #386641;
    font-size: 1.1em;
    color: #333;
}

#navbar .logo {
    /* Pas besoin de flex: 1; */
}

#navbar .text {
    /* Pas besoin de flex: 1; */
    text-align: center;
}

#navbar .button {
    /* Pas besoin de flex: 1; */
    text-align: right;
}

.navbar-item a {
    text-decoration: none;
    display: block;
    color: #333;
    font-weight: bold;
}

.navbar-item a:hover {
    color: #fcfcfc;
}