.background_image {
    background-image: url('../img/Logo_Growbox.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50%;
    font-family: "Lato", sans-serif;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #386641;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #386641;
    color: white;
    padding: 10px 15px;
    border: none;

}
.openbtn:hover {
    background-color: #386641;
}

.image-taskbar {
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    background-size: contain;
    border: none;
}

.top-text {
    width: 100%;
    height: 100vh; /* Ajout de la hauteur */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Ajoutez d'autres styles ici pour personnaliser l'apparence du texte */
}

#main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh; /* This makes sure that the container takes up the full height of the view. */
}

