<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon appli</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/growbox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
</head>
<body>
<header>
    {% block header %}
        {% include "header.j2" %}
    {% endblock header %}
</header>
<main>
    {% if 'error' in session %}
        <div class="message error">
            <p>Une erreur est survenue&nbsp;:</p>
            <p>{{ session['error'] }}</p>
        </div>
        {% set _ = session.pop('error') %}
    {% endif %}
    {% if 'success' in session %}
        <div class="message success">
            <p>{{ session['success'] }}</p>
        </div>
        {% set _ = session.pop('success') %}
    {% endif %}

    {% block main %}

    {% endblock main %}
</main>
<footer>
    {% block footer %}
        {% include "footer.j2" %}
    {% endblock footer %}
</footer>
</body>
</html>
