<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon appli</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_bandeau.css') }}">
</head>
<body>
<nav id="navbar">
    <div>
        <img src="{{ url_for('static', filename='img/Logo_Growbox.png') }}" alt="logo" width="50">
    </div>

    <ul id="navbar-items">
        <li class="navbar-item login-logout">
            {% if 'nom_utilisateur' in session %}
            <a href="{{ url_for('logout') }}">Se déconnecter</a>
            <p> Bonjour, {{ session['nom_utilisateur'] }} </p>
            {% else %}
            <a href="{{ url_for('login') }}">S'identifier</a>
            {% endif %}
        </li>
    </ul>
</nav>

<div id="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>