<div class="authors">
    <div>
        <p>Projet de P2I 2 (221-A)</p>
        <p>INSA Lyon FIMI Promo 66</p>
        <div class="authors-list">
            <div>
                <p><a href="https://github.com/ClementGre" target="_blank">Clément Grennerat</a></p>
                <p><a href="https://github.com/cdupic" target="_blank">Clément Dupic</a></p>
                <p><a href="" target="_blank">Nathan Daval</a></p>
            </div>
            <div>
                <p><a href="" target="_blank">Victoria Nomezine</a></p>
                <p><a href="https://img.20mn.fr/-hvcINCVRtOYTmgHym9-VCk/1444x920_un-paresseux-dans-la-foret-tropicale-du-costa-rica" target="_blank">Hicham Boudjeroua</a></p>
                <p><a href="" target="_blank">Sophie Anthoine</a></p>
            </div>
        </div>
    </div>
</div>
<div class="image">
    <div>
        <img src="{{ url_for('static', filename='img/title.svg') }}" alt="GrowBox">
        <p>Copyright &copy; GrowBox project - 2024</p>
    </div>
</div>
<div class="links">
    <p><a href="">CGU</a></p>
    <p><a href="">Conditions de ventes</a></p>
    <p><a href="">Politique de confidentialité</a></p>
    {% if 'user_name' not in session %}
        <p><a href="{{ url_for('signup_page') }}">Créer un compte</a></p>
        <p><a href="{{ url_for('login_page') }}">Connexion</a></p>
    {% else %}
        <p><a href="{{ url_for('greenhouses_page') }}">Mes serres</a></p>
        <p><a href="{{ url_for('logout_manager') }}">Déconnexion</a></p>
    {% endif %}
</div>



