<div>

</div>
<div>
    <div>
        <p>Clément Grennerat</p>
        <p>Clément Dupic</p>
        <p>Nathan Daval</p>
    </div>
    <div>
        <p>Victoria Nomezine</p>
        <p>Hicham Boudjeroua</p>
        <p>Sophie Anthoine</p>
    </div>
</div>
<div>
    <img src="{{ url_for('static', filename='img/title.svg') }}" alt="GrowBox">
</div>
