{% extends "base.j2" %}

{% block main %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
{#    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/luxon@^2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@3.0.1/dist/chartjs-plugin-annotation.min.js"></script>
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>

    <style>
        main {
            display: flex;
            align-items: stretch;
            align-content: stretch;
            padding: 0;
        }
    </style>
    <section>
        {% block sidebar %}
            {% include "greenhouse_sidebar.j2" %}
        {% endblock %}
    </section>
    <section id="content">
        {% block content %}

        {% endblock %}
    </section>
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>

{% endblock %}
