{% extends "base.j2" %}

{% block main %}
    <style>
        main {
            display: flex;
            align-items: stretch;
            align-content: stretch;
            padding: 0;
        }
    </style>
    <section>
        {% block sidebar %}
            {% include "greenhouse_sidebar.j2" %}
        {% endblock %}
    </section>
    <section id="content">
        {% block content %}

        {% endblock %}
    </section>
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
{% endblock %}
