<nav id="navbar">
    <div>
        <img src="{{ url_for('static', filename='img/icon.png') }}" alt="logo" width="50">
    </div>

    <ul id="navbar-items">
        <li class="navbar-item login-logout">
            {% if 'nom_utilisateur' in session %}
                <a href="{{ url_for('logout') }}">Se déconnecter</a>
                <p> Bonjour, {{ session['nom_utilisateur'] }} </p>
            {% else %}
                <a href="{{ url_for('login') }}">S'identifier</a>
            {% endif %}
        </li>
    </ul>
</nav>

<div id="container">
    {% block content %}{% endblock %}
</div>
