<div>
    <img src="{{ url_for('static', filename='img/icon.svg') }}" alt="GrowBox's icon" />
</div>

<div></div>
<div></div>

<nav>
    <ul>
        {% if 'user_name' in session %}
            <li>
                <a href="{{ url_for('greenhouses_page') }}">Mes serres</a>
            </li>
            <li>
                <a href="{{ url_for('logout_manager') }}">Se déconnecter</a>
            </li>
        {% else %}
            <li>
                <a href="{{ url_for('login_page') }}">Connexion</a>
            </li>
            <li>
                <a href="{{ url_for('login_page') }}">Nouveau compte</a>
            </li>
        {% endif %}

    </ul>
</nav>
