{% extends "base.html"%}

{% block content %}
<link href="{{ url_for('static', filename='css/style_bandeau.css')}}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/main.js')}}"></script>

<!-- Ceci est un commentaire <body class="background_image"> -->

<div id="mySidebar" class="sidebar" style="width: 0px;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"> Close</a>
    <a href="{{ url_for('serres') }}" target="_blank"> Serres </a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>

<div id="main" style="margin-left: 0px;">
    <button class="openbtn" onclick="openNav()">☰</button>
</div>

{% endblock %}
