{% extends "base.j2" %}

{% block main %}
    <section class="title">
        <h1>
            {% block title %}

            {% endblock %}
        </h1>
    </section>
    <section class="single">
        {% block content %}

        {% endblock %}
    </section>
{% endblock %}
