<html><head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <title>Growbox website page</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>



<div id="mySidebar" class="sidebar" style="width: 0px;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"> Close</a>
    <a href="mesures" target="_blank" onclick="closeNav()">Mesures</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>

<div id="main" style="margin-left: 0px;">
    <button class="openbtn" onclick="openNav()">☰</button>
    <h2>Collapsed Sidebar</h2>
    <p>Click on the hamburger menu/bar icon to open the sidebar, and push this content to the right.</p>

</div>
<div class="background_image"></div>


<script>
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
    }

</script>



</body></html>